<!-- <div class="jumbotron">
  <h1>Blackjack</h1>
</div>
<BR><BR>
 -->

<div class="well well-lg">
  <h1>
    Blackjack
  </h1>
</div>

<!-- If User Busts -->
<div class="container">
  <%if session[:user_bust] %>
    <div class="alert alert-error">You've bust. Would you like to play again?
      <% session[:first_game] = false %>
      <form action='/payouts' method='get'>
        <button type="submit" class="btn btn-default">Play again!</button>
      </form>
    </div>
  <% end %>
</div>

<!-- If Dealer Busts -->
<div class="container">
  <%if session[:dealer_bust] %>
    <div class="alert alert-error">Dealer busts, you win!
      <% session[:first_game] = false %>
      <form action='/payouts' method='get'>
        <button type="submit" class="btn btn-default">Play again!</button>
      </form>
    </div>
  <% end %>
</div>

<!-- Alert - Winning alert -->
<div class="container">
  <% if session[:winner] %>
    <% if session[:winner] == :push %>
      <% winning_text = "Push, no one wins" %>
    <% else %>
      <% session[:winner] == :user ? winner = session[:user_name] : winner = "Dealer" %>
      <% winning_text = "#{winner} wins!" %>
      <%  %>
    <% end %>
    <div class="alert alert-error">
      <%= winning_text %>
      <% session[:first_game] = false %>
      <BR>
      <form action='/payouts' method='get'>
        <button type="submit" class="btn btn-default">Play again!</button>
      </form>
    </div>
  <% end %>
</div>

<!-- Display Dealer's hand -->
Dealer's hand:<BR>
<% session[:dealer_hand].each do |card| %>
  <%  %>
  <%= show_card_image(card) %>
<% end %>
<BR>
Total: <%= show_hand_total(session[:dealer_hand]) %>

<BR><bR>

<!-- Button to show dealer's next turn -->
<div class="container">
  <%if session[:dealers_turn] and !session[:dealer_bust] and !session[:winner] %>
    <div class="alert alert-success">
      <form action='/dealer_plays' method='get'>
        <button type="submit" class="btn btn-default">Show Dealer's next turn</button>
      </form>
    </div>
  <% end %>
</div>

<BR><br>

<!-- Display User's hand -->
<%= session[:name]%>'s hand:<br>
<% session[:user_hand].each do |card| %>
  <%= show_card_image(card) %>
<% end %>
<BR>
Total: <%= show_hand_total(session[:user_hand]) %>

<!-- Hit -->
<form action='/user_hit' method='get'>
  <input type="submit" value="Hit" class="btn btn-lg btn-primary">
</form>

<!-- Stay -->
<form action='/user_stay' method='get'>
  <input type="submit" value="Stay" class="btn btn-lg btn-success">
</form>
