<!-- <div class="jumbotron">
  <h1>Blackjack</h1>
</div>
<BR><BR>
 -->

<div class="well well-lg">
  <h1>
    Blackjack
  </h1>
</div>

<!-- If User Busts -->
<div class="container">
  <%if session[:user_bust] %>
    <div class="alert alert-error">You've bust. Would you like to play again?
      <% session[:first_game] = false %>
      <form action='/payouts' method='get'>
        <button type="submit" class="btn btn-default">Play again!</button>
      </form>
    </div>
  <% end %>
</div>


Dealer's hand:<BR>
<% session[:dealer_hand].each do |card| %>
  <% binding.pry %>
  <%= show_card_image(card) %>
<% end %>
<BR>
Total: <%= show_hand_total(session[:dealer_hand]) %>

<BR><bR>

<%= session[:name]%>'s hand:<br>
<% session[:user_hand].each do |card| %>
  <%= show_card_image(card) %>
<% end %>
<BR>
Total: <%= show_hand_total(session[:user_hand]) %>

<!-- Hit -->
<form action='/user_hit' method='get'>
  <input type="submit" value="Hit" class="btn btn-lg btn-primary">
</form>

<!-- Stay -->
<form action='/user_stay' method='get'>
  <input type="submit" value="Stay" class="btn btn-lg btn-success">
</form>
